.card{
    border-radius: 15px;
    background-color: transparent;
    padding: 1em;
    background-color: #fff;
    transition: .2s ease-in-out;
    overflow: hidden;
}
.card.animated:hover,
.card.animated:active{
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    transform: translateY(-0.5em);
}